@font-face {
  font-family: 'MuseoSansCyrl-900Italic';
  src: url('../font/MuseoSansCyrl-900Italic.eot'); /* IE9 Compat Modes */
  src: url('../font/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/MuseoSansCyrl-900Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/MuseoSansCyrl-900Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/MuseoSansCyrl-900Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/MuseoSansCyrl-900Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
}

@font-face {
  
}

@font-face {
  

@font-face {
  

@font-face {
 
}


@font-face {
  
}

@font-face {
  